.main-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.login-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}